:root {
    --color1: #38ccee;
    --color2: #000;
    --color3: #fff;
}
* {
    padding: 0;
    margin: 0;
}

#canvas1 {
    background: black;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
}

p{
    font-size: 2em;
    text-align: center;
}

.control {
    position: fixed;
    color: var(--color3);
    backdrop-filter: blur(1px);
    border-radius: 2em;
    border: 6px solid var(--color1);
    max-height: 80%;
    max-width: 80%;
    overflow: auto;
    padding: 2px 15px;
    bottom: 20px;
    left: 20px;
}

.control-group {
    margin: 10px 10px;
}

.slider {
  -webkit-appearance: none;
  width: 50%;
  height: 7px;
  background: var(--color2);
  outline: none;
  border: 2px solid var(--color1);
  border-radius: 8px;
}

/* for chrome/safari */
.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 10px;
  height: 20px;
  background: var(--color2);
  cursor: pointer;
  border: 2px solid var(--color1);
  border-radius: 4px;
}

/* for firefox */
.slider::-moz-range-thumb {
  width: 10px;
  height: 20px;
  background: var(--color2);
  cursor: pointer;
  border: 5px solid var(--color1);
  border-radius: 4px;
}

input {
    background: var(--color2);
    color: var(--color3);
    border: 0.2em solid var(--color1);
    border-radius: 4px;
}

input[type = number] {
    padding: 5px;
    width: min-content;
}

input[type = file] {
    padding: 2px;
}

.checkbox-wrapper-4 * {
    box-sizing: border-box;
}

.checkbox-wrapper-4 .cbx {
    -webkit-user-select: none;
    user-select: none;
    cursor: pointer;
    padding: 0;
    border-radius: 6px;
    overflow: hidden;
    transition: all 0.2s ease;
    display: inline-block;
}

.checkbox-wrapper-4 .cbx span {
    float: left;
    vertical-align: middle;
    transform: translate3d(0, 0, 0);
}

.checkbox-wrapper-4 .cbx span:first-child {
    position: relative;
    width: 18px;
    height: 18px;
    border-radius: 6px;
    transform: scale(1);
    border: 1px solid var(--color1);
    transition: all 0.2s ease;
    box-shadow: 0 1px 1px rgba(0,16,75,0.05);
}

.checkbox-wrapper-4 .cbx span:first-child svg {
    position: absolute;
    top: 3px;
    left: 2px;
    fill: none;
    stroke: var(--color3);
    stroke-width: 2;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-dasharray: 16px;
    stroke-dashoffset: 16px;
    transition: all 0.3s ease;
    transition-delay: 0.1s;
    transform: translate3d(0, 0, 0);
}

.checkbox-wrapper-4 .cbx:hover span:first-child {
    border-color: var(--color2);
}

.checkbox-wrapper-4 .inp-cbx {
    position: absolute;
    visibility: hidden;
}

.checkbox-wrapper-4 .inp-cbx:checked + .cbx span:first-child {
    background: var(--color2);
    border-color: var(--color1);
    animation: wave-4 0.4s ease;
}

.checkbox-wrapper-4 .inp-cbx:checked + .cbx span:first-child svg {
    stroke-dashoffset: 0;
}

.checkbox-wrapper-4 .inline-svg {
    position: absolute;
    width: 0;
    height: 0;
    pointer-events: none;
    user-select: none;
}

@media screen and (max-width: 640px) {
    .checkbox-wrapper-4 .cbx {
        width: 100%;
        display: inline-block;
    }
}

@-moz-keyframes wave-4 {
    50% {
        transform: scale(0.9);
    }
}

@-webkit-keyframes wave-4 {
    50% {
        transform: scale(0.9);
    }
}

@-o-keyframes wave-4 {
    50% {
        transform: scale(0.9);
    }
}

@keyframes wave-4 {
    50% {
        transform: scale(0.9);
    }
}